[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "example/dependencies/glfw"]
	path = example/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "example/dependencies/glm"]
	path = example/dependencies/glm
	url = https://github.com/g-truc/glm
